.ticker {
  .caption {
    white-space: nowrap;
    text-align: center;
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
  .amount {
    display: block;
  }

  &.horizontal {
    .thumbnail {
      display: flex;
      align-items: center;
    }
    .caption {
      text-align: left;
      flex: 3;
    }
  }
}
